<h1>Create a match</h1>
<form name="match" (ngSubmit)="onSubmit()">
    <h2>Team A</h2>
    <label>Player 1</label>
    <select name="match.teamA.player1" [(ngModel)]="match.teamA.player1">
        <option *ngFor="let player of players"
                [disabled]="!playerAvailable(player)"
                [ngValue]="player">{{player.name}}</option>
    </select>

    <label>Player 2</label>
    <select name="match.teamA.player2" [(ngModel)]="match.teamA.player2">
        <option *ngFor="let player of players"
                [disabled]="!playerAvailable(player)"
                [ngValue]="player">{{player.name}}</option>
    </select>

    <h2>Team B</h2>
    <label>Player 1</label>
    <select name="match.teamB.player1" [(ngModel)]="match.teamB.player1">
        <option *ngFor="let player of players"
                [disabled]="!playerAvailable(player)"
                [ngValue]="player">{{player.name}}</option>
    </select>

    <label>Player 2</label>
    <select name="match.teamB.player2" [(ngModel)]="match.teamB.player2">
        <option *ngFor="let player of players"
                [disabled]="!playerAvailable(player)"
                [ngValue]="player">{{player.name}}</option>
    </select>

    <button type="submit" [disabled]="!readyToStart()">Start</button>
</form>
