
<div class="create-match-container">
    <form name="match" (ngSubmit)="onSubmit()" id="ngForm" #documentEditForm="ngForm">
        <div class="team-yellow">
            <app-select-player
                [(player)]="match.teamA.player1"
                [players]="players"
                [isPlayerSelected]="isPlayerSelected">
            </app-select-player>

            <p class="heading">Team Yellow</p>

        <app-select-player
            [(player)]="match.teamA.player2"
            [players]="players"
            [isPlayerSelected]="isPlayerSelected">
        </app-select-player>

        </div>
        <div class="team-red">
            <app-select-player
                [(player)]="match.teamB.player1"
                [players]="players"
                [isPlayerSelected]="isPlayerSelected">
            </app-select-player>
        <p class="heading">Team Red </p>


        <app-select-player
            [(player)]="match.teamB.player2"
            [players]="players"
            [isPlayerSelected]="isPlayerSelected">
        </app-select-player>
        </div>
        <!--<button class="start-button" type="submit" [disabled]="!readyToStart()">Start</button>-->

    </form>

</div>
<button class="footer-button" type="submit" form="ngForm" [disabled]="!readyToStart()">Kick Off!!!</button>
