%button {
    display: block;
    background: color('primary');
    color: color('primary', 'inverse');
    text-decoration: none;
    border-radius: .2rem;
    text-align: center;
    border: none;
}
