@import 'button';
@import 'color';

%footer-button {
    @extend %button;
    grid-area: footer;
    font-size: 2.5rem;
    background-color: color('accept');
    justify-content:center;
    align-content:center;
    flex-direction:column;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
