%footer {
    font-family: Bangers, Arial, Helvetica, sans-serif;
    display: flex;
    //grid-area: header;

    @extend %button;
    font-size: 2.5rem;
    background-color: color('accept');


    align-items:center;
    align-self:center;
    vertical-align: middle;
    flex-direction:column;
    justify-content: center;
    min-height: 64px;
    width: 100%;
    cursor: pointer;
    bottom: 0;
    position: fixed;
    margin: 0;
}
