@import 'button';
@import 'color';

%footer-button {
    @extend %button;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    left: 0;
    font-size: 2.5rem;
    background-color: color('accept');
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    height: 6rem;
}
