
<form [formGroup]="createPlayerForm" name="create-player" (ngSubmit)="onSubmit(createPlayerForm)">


<div class="wrapper">
    <input class="input" placeholder="Please Enter Text" type="text" formControlName="name" name="name">
    <div
        class="error"
        *ngIf="createPlayerForm.get('name').hasError('minlength') && createPlayerForm.get('name').touched">
        Minimum of 4 characters
    </div>
    <div
        class="error"
        *ngIf="createPlayerForm.get('name').hasError('usernameInUse')">
        Name already taken fam
    </div>
    <button type="submit" [disabled]="createPlayerForm.get('name').hasError('usernameInUse')">Save</button>
</div>
</form>
